In [4]:
orders=[['apple',10],['banana',6],['cherry',8],['dragon',5]]
for each in orders:
    if each[0]=="cherry":
        each[1]=100
print(orders)

[['apple', 10], ['banana', 6], ['cherry', 100], ['dragon', 5]]

In [7]:
orders=[['apple',10],['banana',6],['cherry',8],['dragon',5]]
orders.append(['apple',15])
print(orders)
total = []
for each_item in orders:
    if each_item[0] == "apple":
        total.append(each_item[1])
print(total)
print(sum(total))

[['apple', 10], ['banana', 6], ['cherry', 8], ['dragon', 5], ['apple', 15]]
[10, 15]
25

In [17]:
tuple = (4,2,4,5,6,'A',False,9-8j)
print(tuple)
print(type(tuple))

(6, 'A')
(4, 2, 4, 5, 6, 'A', False, (9-8j))
<class 'tuple'>

In [18]:
#slicing
tuple[4:6]

(6, 'A')

In [19]:
#finding indexing
tuple.index('A')

5

In [21]:
#count method f tuple
tup2 = (10,20,10,10,30,10)
tup2.count(10)

4

In [10]:
scores = {"virat":90,
          "Rohith":100,
          "Rahul":70,
          "Hardik":9,
          "Gill":20,
          "jadeja":30,
          "Siraz":15}
scores

{'virat': 90,
 'Rohith': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'jadeja': 30,
 'Siraz': 15}

In [11]:
scores["Aswin"] = 15
scores

{'virat': 90,
 'Rohith': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'jadeja': 30,
 'Siraz': 15,
 'Aswin': 15}

In [12]:
scores.update({"jadeja":50})
scores

{'virat': 90,
 'Rohith': 100,
 'Rahul': 70,
 'Hardik': 9,
 'Gill': 20,
 'jadeja': 50,
 'Siraz': 15,
 'Aswin': 15}

In [13]:
scores.update({"Hardik":85, "Rahane":55})
scores

{'virat': 90,
 'Rohith': 100,
 'Rahul': 70,
 'Hardik': 85,
 'Gill': 20,
 'jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Rahane': 55}

In [15]:
scores.setdefault("pujari",50)
scores

{'virat': 90,
 'Rohith': 100,
 'Rahul': 70,
 'Hardik': 85,
 'Gill': 20,
 'jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Rahane': 55,
 'pujari': 50}

In [17]:
scores.popitem()
scores

{'virat': 90,
 'Rohith': 100,
 'Rahul': 70,
 'Hardik': 85,
 'Gill': 20,
 'jadeja': 50,
 'Siraz': 15,
 'Aswin': 15,
 'Rahane': 55}

In [18]:
scores.pop("jadeja")
scores

{'virat': 90,
 'Rohith': 100,
 'Rahul': 70,
 'Hardik': 85,
 'Gill': 20,
 'Siraz': 15,
 'Aswin': 15,
 'Rahane': 55}

In [19]:
scores.get("Hardik")

85

In [31]:
list1 = ["A","B","C","D",]
my_dict = dict.fromkeys(list1,20)
my_dict.update({"B":30},)
my_dict.update({"C":40},)
my_dict

{'A': 20, 'B': 30, 'C': 40, 'D': 20}

In [34]:
for k in scores.keys():
    if k == "Hardik":
        scores[k] = 35
scores

{'virat': 90,
 'Rohith': 100,
 'Rahul': 70,
 'Hardik': 35,
 'Gill': 20,
 'Siraz': 15,
 'Aswin': 15,
 'Rahane': 55}

In [36]:
##total scores
scores_list = []
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total Score: ",sum(scores_list))

[90, 100, 70, 35, 20, 15, 15, 55]
Total Score:  400