In [2]:
#set
s1={2,3,34,4,5,5,}
print(s1)
print(type(s1))

{2, 3, 4, 34, 5}
<class 'set'>

In [4]:
list1=[1,2,3,4,4,5,6]
s2 = set(list1)
print(s2)
print(type(s2))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [8]:
s1 = {1,2,3,4}
s2 = {3,4,5,5}
s1 | s2
#union operation

{1, 2, 3, 4, 5}

In [7]:
s1 = {1,2,3,4}
s2 = {3,4,5,5}
s1 & s2
#inter section

{3, 4}

In [10]:
s1 = {1,2,3,4}
s2 = {3,4,5,5}
s1 - s2
# difference of set

{1, 2}

In [15]:
s1 = {1,2,3,4}
s2 = {3,4,5,5}
s2 - s1 # difference

{5}

In [2]:
s1 = {1,2,3,4}
s2 = {3,4,5,5}
s1.symmetricdifference(s2)

AttributeError: 'set' object has no attribute 'symmetricdifference'

In [6]:
str1 = "welcome to my home"
print(str1)
str2 = "hi hello welcome "
print(str2)
str3 = "adabbb"
print(str2)

welcome to my home
hi hello welcome
hi hello welcome

In [7]:
str1[5:10]

'me to'

In [11]:
reviews = ["The product is awesom","Great Service"]
joined_string = ' ; '.join(reviews)
joined_string

'The product is awesom ; Great Service'

In [13]:
str5 = " Hello, How are you"
str5

' Hello, How are you'

In [14]:
str5.strip()

'Hello, How are you'

In [15]:
str5.lower()

' hello, how are you'

In [16]:
str5.upper()

' HELLO, HOW ARE YOU'

In [2]:
num = 6
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [3]:
print("even") if num%2 == 0 else("odd")

even

In [7]:
L = [1,2,3,4,5,55,555,66,]
[x for x in L if x%2 == 0]

[2, 4, 66]

In [8]:
L = [1,2,3,4,5,55,555,66,]
[x for x in L if x%2 == 1]

[1, 3, 5, 55, 555]

In [12]:
#print average value
L = [1,2,3,4,5,55,555,66,]
avg= sum(L)/len(L)
print(avg)

86.375

In [11]:
print(avg)

86.375

In [17]:
#dictionarey comphrensitation
d1 = {"Ram":[70,71,90,81],"john":[34,54,65,76,66]}
{k:sum(v)/len(v)for k,v in d1.items()}

{'Ram': 78.0, 'john': 59.0}